[Desktop Entry]
Name=EBViewer
Icon=$HOME/.local/share/EBViewer/share/EBViewer.svg
StartupWMClass=ebviewer
Comment=Dictionary viewer
Exec="$HOME/.local/share/EBViewer/bin/ebviewer %u
Version=1.0
Type=Application
Categories=Education;
Terminal=false
StartupNotify=false

